#text {
  height:300px;
}
#resultBox {
  color:white;
  border-style: groove;
  font-size:25px;
  font-family: "Helvetica";
  transform: scale(0.9);
  transition-duration:0.9s;
  border-radius: 0px;
}
#resultBox h2 {
  text-align: center;
  font-size:50px;
  font-family: Helvetica;
  border-radius: 0px;
}
#resultBox:hover {
  background-color:grey;
  transform: scale(1.0);
}
label{
  width:100%;
  margin: 10px 0px;
  background-color:black;
  border-radius:15px;
  font-family:"Helvetica";
  font-size:20px;
  color:white;
}
option:checked {
  background-color:white!important;
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 0px;
}

.displayText {
  margin: -15px;
  padding: 8px;
  font-weight:bolder;
  font-size:35px;
  font-family:"Helvetica";
  color:yellow;
}
