/* Game Board */
table {
  margin: auto;
  border-spacing: 0;
}

/* Snake Logo */
th {
  color: white;
  text-align: left;
  font-family: 'Yellowtail', sans-serif;
  font-size: 2rem;
  user-select: none;
}

/* Tiles */
td {
  background: rgb(9, 9, 30);
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  background-size: 32px 32px;
}

.snake-body {
  background-image: url('/assets/Body@2x.png');
}

.snake-head {
  background-image: url('/assets/Head@2x.png');
}

.snake-tail {
  background-image: url('/assets/Tail@2x.png');
}

.snake-left-turn {
  background-image: url('/assets/LeftTurn@2x.png');
}

.snake-right-turn {
  background-image: url('/assets/RightTurn@2x.png');
}

.fruit {
  background-image: url('/assets/Fruit@2x.png');
}

.up {
  transform: rotate(0);
}

.down {
  transform: rotate(180deg);
}

.left {
  transform: rotate(-90deg);
}

.right {
  transform: rotate(90deg);
}
