<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a (click)="redirectTo('/google-kgsearch')"  routerLink="/google-kgsearch" class="navbar-brand background">SuperSearch</a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/google-kgsearch" (click)="redirectTo('/google-kgsearch')">SuperSearch</a></li>
      </ul>

    </div>
  </div>
</nav>
